form {
    max-width: 600px;
    margin: 0 auto;
}

input{
    max-height: 30px;
    &.ng-invalid.ng-touched {
        border: 1px solid red;
    }

    &.ng-valid.ng-touched {
        border: 1px solid green;
    }
}