<!-- http://localhost:4200/admin/login -->
<!-- <form class="card" [formGroup]="form" (ngSubmit)="submit()">
    <h2>Enter to Admin panel</h2>

    <div class="form-control">
        <label>Email</label>
        <input type="text" placeholder="Email" formControlName='email'>
        <div class="validation">
            <small>Some small text</small>
        </div>
    </div>

    <div class="form-control">
        <label>Password</label>
        <input type="password" placeholder="Password" formControlName='password' >
        <div  class="validation">
            <small>password</small>
        </div>
    </div> 

    <button
     type="submit"
     class="btn btn-primary"
     [disabled]="form.invalid"
    >Enter</button> 
</form> -->

<form novalidate #form="ngForm" (submit)="onSubmit(form)">
    <input type="hidden" name="paymentDetailId" [value]="auth.formSomeData.UserId"
        [value]="auth.formSomeData.UserId" />
    <div class="form-group">
        <label>EMAIL</label>
        <input class="form-control form-control-lg" placeholder="Full Name" name="email"
            #Email="ngModel" [(ngModel)]="auth.formSomeData.Email"
            >
    </div>
    <div class="form-group">
        <label>PASSWORD</label>
        <input class="form-control form-control-lg" placeholder="Passwd" name="password"
            #Password="ngModel" [(ngModel)]="auth.formSomeData.Password"
        >
    </div>
    <div class="form-group">
        <button class="btn btn-info btn-lg btn-block" type="submit">Submit</button>
    </div>
</form>