<!-- http://localhost:4200/admin/login -->
<form novalidate #form="ngForm" (submit)="onSubmit(form)">
    <input type="hidden" name="UserId" [value]="service.formData.UserId" [value]="service.formData.UserId" />
    <div class="form-control">
        <label>EMAIL</label>
        <input type="email" placeholder="Email" name="email" #Email="ngModel" [(ngModel)]="service.formData.Email"
            required email>
        <div class="validation">
            <small>email</small>
        </div>
    </div>
    <div class="form-control">
        <label>PASSWORD</label>
        <input type="password" class="form-control form-control-lg" placeholder="Password" name="password"
            #Password="ngModel" [(ngModel)]="service.formData.Password" required minlength="6">
        <div class="validation">
            <small>password</small>
        </div>
    </div>
    <div class="form-control">
        <button class="btn btn-info btn-lg btn-block" type="submit" [disabled]="form.invalid">Submit</button>
    </div>
</form>